/* userprofile.css */

/* Reset some default styling */
body, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Basic styling for the container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styling for the profile-info section */
.profile-info {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Styling for the order list */
.profile-info ol {
    padding-left: 20px;
}

/* Styling for the product images */
.product-img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

/* Styling for the profile-reviews section */
.profile-reviews h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.profile-reviews ul {
    padding-left: 20px;
}

/* Styling for individual review items */
.profile-reviews li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

/* Styling for the welcome message */
.profile-info h1 {
    margin-bottom: 10px;
}

/* Styling for email and company info */
.profile-info p {
    margin-bottom: 5px;
}

/* Styling for links */
/* a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
} */
.pending-status {
    color: red;
    font-weight: bold;
}

/* Styles for completed status */
.completed-status {
    color: green;
    font-weight: bold;
}
#user-order ul li{
    margin-bottom: 15px;
    width: 400px;
    height: auto;
    background-color: #f0f0f0;
}
#user-total{
    font-size: 1.2rem;
}


#view-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#view-button:hover {
    background-color: #2980b9;
}

@media (max-width: 767px){
    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
    }
    
    #user-order ul li{
        margin-bottom: 15px;
        width: 200px;
        height: auto;
        background-color: #f0f0f0;
    }
    #user-total{
        font-size: 1rem;
    }
    #view-button {
        display: inline-block;
        padding: 6px 10px;

        border-radius: 2.5px;
        font-size: 8px;
    }
  
  }