<link rel="stylesheet" href="/css/category.css">
{% extends 'base.html' %}
{% block content %}

{% for category in categories %}
    <h2>{{ category.name }}</h2>
    <ol>
       {% for products in product_detail %}  
            {% if products.product.category == category %}
          <a href="{% url 'productpage' product_id=products.product.id %}"> <li> <img src="{{ products.image_url }}" alt=""><p>{{ products.product.name }}</p> </li></a>
            
            {% endif %}
        {% endfor %}
    </ol>
{% endfor %}

{% endblock %}