<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% extends 'base.html' %}



{% block content %}
{% if messages %}
{% for message in messages %}
<h4>{{ message }}</h4>
{% endfor %}
{% endif %}

<body>
 <div class="container-sort">
  <i class="fa fa-duotone fa-arrow-down-short-wide"></i>
  <select id="sort-select" onchange="changeSort()">
    <option value="name" {% if sort == 'name' %}selected{% endif %}>Sort by Name</option>
<option  value="price_low" {% if sort == 'price_low' %}selected{% endif %}>Price Low to High</option>
    <option value="price_high" {% if sort == 'price_high' %}selected{% endif %}>Price High to Low</option>
  </select></div>
  <div class="container">
    {% for product in products %}    
     <a href="{% url 'productpage' product_id=product.id %}">
       <div class="product-card">
        <img src="{{ product.image.url }}" alt="Product 1">
        <div class="title-container"> <h3>{{ product.name }}</h3></div>
        <!-- <p>{{ product.description }}</p> -->
        <p class="price">&#8377;{{ product.price }}</p>
      
      </div>
    </a>
    {% endfor %}
  </div>
</body>
<script>
  function changeSort() {
  var select = document.getElementById('sort-select');
  var sort = select.value;
  var url = window.location.pathname + '?sort=' + sort;
  window.location.href = url;
}
</script>
{% endblock %}
