<!DOCTYPE html>
<html>
<head>
    <title>Thank You for Contacting Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
            background-color: #f4f4f4;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px #aaa;
        }
        h2 {
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container">
            <h2>{{company}}</h2> 
        <h3>Thank You for Contacting Us</h3>
        <p>We have received your message and will get back to you shortly.</p>
    </div>
</body>
</html>
